.checkbox-label {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }
  
  .checkbox-label input[type="checkbox"] {
    transform: scale(1.5); /* チェックボックス自体を拡大 */
    cursor: pointer;
  }